ul {
    padding-inline-start: 0%;
}

h2 {
    font-size: 1em;
}

label {
    font-size: 0.6rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
span {
    font-size: 0.5em;
}

p {
    margin-block-end: 0;
    margin-block-start: 0 ;
}
.education-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto auto;
}

.education {
    margin: 0% 0% 0% 0%;
    text-align: center;
    max-width: 30%;
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

.course {
    display: block;

    margin: 4% 0% 0% 0%;
    padding: 10px 18px;

    background-color:rgb(118, 151, 42);
    list-style-type: none;
    color: rgb(40, 73, 182);
    border-radius: 14px;
    text-align: center;


}
.institution {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color:rgb(40, 73, 182);
}