body {
    padding: 0;
    background-color:rgb(96, 166, 212)

}
a{
    color:rgb(255, 255, 255)
}

h1 {
    color: white;
}

.name {
    color:white
}
.header-continer {
    display: flex;
    background-color: rgb(42, 80, 102);
    font-family: 'Cabin', sans-serif;
    max-width: 1200px;
    margin: auto auto;
    border-radius: 14px;
    flex-wrap: wrap;
}

.badge {
    margin: 2% 2% 0 8%;
}

.avatar {
    border-radius: 19%;
}

.header-info {
    margin: 6% 0 0 10%;
    font-size:1rem;
    flex-wrap: wrap;
    /* max-width: 30%; */
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 8% 0% 0% 0%;
    max-width: 300px;
    padding-inline-start: 0;
    color: rgb(255, 255, 255);
}

.skill {
    margin: 2%;
    padding: 6px 6px 6px 6px;
    background-color:forestgreen;
    border-radius: 35% 4% 35% 4%;
    font-family: 'Cabin', sans-serif;
}
.contacts {
    list-style-type: none;
    padding-inline-start: 0%;
    font-family: 'Cabin', sans-serif;
    /* margin: 0 0 0 0; */
}

.contact {
    width: 200px;
    text-align: start;
    color: rgba(166, 202, 45, 0.561);
    padding: 5px 0px 0px 0px; 
    margin: 0px 0px 0px 0px; 
}
