$font-stack: "Cabin", sans-serif;
$bg-color: rgb(96, 166, 212);
$header-bg-color: rgb(42, 80, 102);
$header-font-color: white;

body {
  background-color: $bg-color;
  color: $header-font-color;
}

.header-continer {
    display: flex;
    flex-wrap: wrap;
    background-color: $header-bg-color;
    .badge {
        
    }
}